{
  "name": "liquidcharcoal.com",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/main.sass",
      "imports": [
        "sass/include/variables.sass",
        "sass/include/responsive.sass",
        "sass/include/color.sass",
        "sass/include/type.sass",
        "sass/include/normalize.sass",
        "sass/include/grid.sass",
        "sass/include/global.sass",
        "sass/include/header.sass",
        "sass/include/portfolio.sass"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 8890,
    "assignNewPortAutomatically": false,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://localhost:8888/"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/AAU/wnm601/m13",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "liquidcharcoal.com",
      "port": 21,
      "user": "portfolio@liquidcharcoal.com",
      "password": "Respawner@7792"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "sass/grid.sass",
        "ctime": "2018-06-25T01:08:23.341Z",
        "mtime": "2018-06-25T01:08:23.341Z",
        "size": 304
      },
      {
        "file": "css/grid.css",
        "ctime": "2018-06-25T01:08:23.472Z",
        "mtime": "2018-06-25T01:08:23.472Z",
        "size": 2273
      },
      {
        "file": "sass/normalize.css",
        "ctime": "2018-06-25T01:10:27.830Z",
        "mtime": "2018-06-25T01:10:27.830Z",
        "size": 9236
      },
      {
        "file": "sass/main.sass",
        "ctime": "2018-08-28T15:39:50.336Z",
        "mtime": "2018-08-28T15:39:50.336Z",
        "size": 324
      },
      {
        "file": "sass/normalize.sass",
        "ctime": "2018-06-25T06:51:17.538Z",
        "mtime": "2018-06-25T06:51:17.538Z",
        "size": 9589
      },
      {
        "file": "sass/variables.sass",
        "ctime": "2018-06-25T21:41:46.443Z",
        "mtime": "2018-06-25T21:41:46.443Z",
        "size": 0
      },
      {
        "file": "sass/color.sass",
        "ctime": "2018-06-25T06:17:05.859Z",
        "mtime": "2018-06-25T06:17:05.859Z",
        "size": 78
      },
      {
        "file": "index.html",
        "ctime": "2018-06-25T02:33:26.694Z",
        "mtime": "2018-06-25T02:33:26.694Z",
        "size": 2583
      },
      {
        "file": "img/home_liquidcharcoal_pic.jpg",
        "ctime": "2018-06-25T01:57:43.302Z",
        "mtime": "2018-06-25T01:57:43.121Z",
        "size": 272575
      },
      {
        "file": "img/fb_icon.png",
        "ctime": "2018-06-25T02:09:06.473Z",
        "mtime": "2018-06-25T02:09:06.181Z",
        "size": 34101
      },
      {
        "file": "img/behance_icon.jpg",
        "ctime": "2018-06-25T02:10:50.728Z",
        "mtime": "2018-06-25T02:10:50.506Z",
        "size": 18640
      },
      {
        "file": "img/behance_icon.png",
        "ctime": "2018-06-25T02:11:14.183Z",
        "mtime": "2018-06-25T02:11:13.944Z",
        "size": 37425
      },
      {
        "file": "img/twitter_icon.png",
        "ctime": "2018-06-25T02:12:05.761Z",
        "mtime": "2018-06-25T02:12:05.534Z",
        "size": 35414
      },
      {
        "file": "coming_soon.html",
        "ctime": "2018-06-25T23:34:51.637Z",
        "mtime": "2018-06-25T23:34:51.637Z",
        "size": 2060
      },
      {
        "file": "css/comingsoon.css",
        "ctime": "2018-06-25T23:17:19.894Z",
        "mtime": "2018-06-25T23:17:19.894Z",
        "size": 1280
      },
      {
        "file": "sass/type.sass",
        "ctime": "2018-06-25T06:45:32.758Z",
        "mtime": "2018-06-25T06:45:32.758Z",
        "size": 120
      },
      {
        "file": "sass/global.sass",
        "ctime": "2018-06-25T06:39:37.076Z",
        "mtime": "2018-06-25T06:39:37.076Z",
        "size": 0
      },
      {
        "file": "css/global.css",
        "ctime": "2018-06-25T06:35:41.290Z",
        "mtime": "2018-06-25T06:35:41.290Z",
        "size": 39
      },
      {
        "file": "css/color.css",
        "ctime": "2018-06-25T06:17:06.089Z",
        "mtime": "2018-06-25T06:17:06.089Z",
        "size": 0
      },
      {
        "file": "css/main.css",
        "ctime": "2018-08-30T00:43:40.998Z",
        "mtime": "2018-08-30T00:43:40.998Z",
        "size": 37213
      },
      {
        "file": "redirect.php",
        "ctime": "2018-07-03T00:08:31.823Z",
        "mtime": "2018-07-03T00:08:31.823Z",
        "size": 58
      },
      {
        "file": "structure.php",
        "ctime": "2018-07-30T00:59:48.326Z",
        "mtime": "2018-07-30T00:59:48.326Z",
        "size": 1924
      },
      {
        "file": "include/head.php",
        "ctime": "2018-08-30T17:44:45.920Z",
        "mtime": "2018-08-30T17:44:45.920Z",
        "size": 2761
      },
      {
        "file": "include/navbar.php",
        "ctime": "2018-08-22T15:26:55.226Z",
        "mtime": "2018-08-22T15:26:55.226Z",
        "size": 573
      },
      {
        "file": "sass/include/header.sass",
        "ctime": "2018-08-30T00:43:40.597Z",
        "mtime": "2018-08-30T00:43:40.597Z",
        "size": 3218
      },
      {
        "file": "sass/include/global.sass",
        "ctime": "2018-08-29T05:03:37.662Z",
        "mtime": "2018-08-29T05:03:37.662Z",
        "size": 12299
      },
      {
        "file": "index.php",
        "ctime": "2018-08-30T17:48:05.011Z",
        "mtime": "2018-08-30T17:48:05.011Z",
        "size": 34190
      },
      {
        "file": "img/Selfie.jpg",
        "ctime": "2018-07-03T18:34:11.300Z",
        "mtime": "2018-07-03T18:34:11.299Z",
        "size": 368299
      },
      {
        "file": "sass/include/color.sass",
        "ctime": "2018-07-05T20:47:46.935Z",
        "mtime": "2018-07-05T20:47:46.935Z",
        "size": 1296
      },
      {
        "file": "sass/include/grid.sass",
        "ctime": "2018-08-29T03:42:58.128Z",
        "mtime": "2018-08-29T03:42:58.128Z",
        "size": 759
      },
      {
        "file": "img/Logo_Gradient_BRP-02.png",
        "ctime": "2018-07-05T19:57:06.804Z",
        "mtime": "2018-07-05T19:57:06.432Z",
        "size": 89322
      },
      {
        "file": "abbout.php",
        "ctime": "2018-07-09T01:05:01.615Z",
        "mtime": "2018-07-09T01:05:01.615Z",
        "size": 3296
      },
      {
        "file": "sass/include/type.sass",
        "ctime": "2018-08-28T15:38:20.220Z",
        "mtime": "2018-08-28T15:38:20.220Z",
        "size": 470
      },
      {
        "file": "about.php",
        "ctime": "2018-08-30T18:38:16.432Z",
        "mtime": "2018-08-30T18:38:16.432Z",
        "size": 32940
      },
      {
        "file": "js/liquidcharcoal-script.js",
        "ctime": "2018-07-09T19:42:04.151Z",
        "mtime": "2018-07-09T19:42:04.151Z",
        "size": 1666
      },
      {
        "file": "resume.php",
        "ctime": "2019-08-06T23:25:41.949Z",
        "mtime": "2019-08-06T23:25:41.949Z",
        "size": 1661
      },
      {
        "file": "resume_under_con.php",
        "ctime": "2018-07-24T09:26:51.628Z",
        "mtime": "2018-07-24T09:26:51.628Z",
        "size": 41004
      },
      {
        "file": "portfolio.php",
        "ctime": "2018-08-29T02:22:43.537Z",
        "mtime": "2018-08-29T02:22:43.537Z",
        "size": 3328
      },
      {
        "file": "css/embed.behance.css",
        "ctime": "2018-08-29T04:37:14.181Z",
        "mtime": "2018-08-29T04:37:14.181Z",
        "size": 22228
      },
      {
        "file": "js/embed.behance.js",
        "ctime": "2018-08-17T17:38:03.633Z",
        "mtime": "2018-08-17T17:38:03.633Z",
        "size": 63934
      },
      {
        "file": "contact_lc.php",
        "ctime": "2018-08-30T01:57:50.960Z",
        "mtime": "2018-08-30T01:57:50.960Z",
        "size": 3193
      },
      {
        "file": "sass/include/responsive.sass",
        "ctime": "2018-08-29T03:31:19.748Z",
        "mtime": "2018-08-29T03:31:19.748Z",
        "size": 2032
      },
      {
        "file": "css/include/responsive.css",
        "ctime": "2018-08-08T05:19:36.085Z",
        "mtime": "2018-08-08T05:19:36.085Z",
        "size": 63
      },
      {
        "file": "include/quick_contact_box.php",
        "ctime": "2018-08-30T18:07:02.228Z",
        "mtime": "2018-08-30T18:07:02.228Z",
        "size": 2137
      },
      {
        "file": "sass/include/portfolio.sass",
        "ctime": "2018-08-18T03:40:16.713Z",
        "mtime": "2018-08-18T03:40:16.713Z",
        "size": 3631
      },
      {
        "file": "send_message.php",
        "ctime": "2018-08-30T02:00:35.603Z",
        "mtime": "2018-08-30T02:00:35.603Z",
        "size": 2648
      },
      {
        "file": "img/lc-thumbnail.png",
        "ctime": "2018-08-30T16:18:48.829Z",
        "mtime": "2018-08-30T16:18:47.900Z",
        "size": 236874
      },
      {
        "file": "img/lc-web-thumbnail.png",
        "ctime": "2018-08-30T16:19:13.904Z",
        "mtime": "2018-08-30T16:19:13.707Z",
        "size": 296916
      },
      {
        "file": "img/favicon/lc-main-favicon.png",
        "ctime": "2018-08-30T17:40:52.246Z",
        "mtime": "2018-08-30T17:40:51.917Z",
        "size": 8202
      },
      {
        "file": "resume_new.php",
        "ctime": "2019-08-06T23:24:48.556Z",
        "mtime": "2019-08-06T23:24:48.556Z",
        "size": 40785
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"],\"compiler-jpg\":{\"enabled\":true,\"originalSize\":0,\"newSize\":0}}"
}